// colours

$midnight: #0d1b2a;
$ebony-clay: #1b263b;
$slate: #415a77;
$grey-blue: #778da9;
$pearl-blush: #e0e1dd;

// default colour

$default-color: $midnight;

// colors - sections

// hero

$hero-text-color: $pearl-blush;
$hero-text-background-color: $ebony-clay;
$hero-image-blend: $slate;

// nav

$nav-link-color: $midnight;
$nav-hover-color: $grey-blue;
$nav-background-color: $pearl-blush;
$nav-logo-background-color: $midnight;
$nav-logo-hover-background-color: $pearl-blush;
$nav-logo-hover-border-color: $midnight;

// projects

$card-heading-background: $slate;
$card-text-color: $pearl-blush;
$card-border-color: $slate;
$card-description-background: $grey-blue;
$card-button-background: $midnight;
$card-button-hover: $ebony-clay;

// font sizes

$base-font-size: 1rem;
$font-size-medium: px-to-rem(14px);

// screen sizes

$xs: 280px;
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;

// max inner wrapper width

$inner-wrapper-max: 1200px;
