// colours

$midnight: #0d1b2a;
$ebony-clay: #1b263b;
$slate: #415a77;
$grey-blue: #778da9;
$pearl-blush: #e0e1dd;
$asparagus: #70ae6e;
$brown-sugar: #b4654a;
$tropical-indigo: #7e78d2;
$english-violet: #4a314d;
$citron: #027bce;
$linkedin-blue: #0077b5;
$linkedin-red: #dd5143;
$github-red: #171515;
$github-blue: #4078c0;

// default colour

$default-color: $midnight;
$default-bg-color: $pearl-blush;

// social icons

$github-color: $github-red;
$github-color: $github-blue;
$linkedin-color: $linkedin-blue;
$linkedin-hover: $linkedin-red;

// colors - sections

// hero

$hero-text-color: $pearl-blush;
$hero-text-background-color: $ebony-clay;
$hero-image-blend: $slate;

// nav

$nav-link-color: $midnight;
$nav-hover-color: $grey-blue;
$nav-background-color: $pearl-blush;
$nav-logo-background-color: $midnight;
$nav-logo-hover-background-color: $citron;
$nav-ls-border-color: $midnight;

// projects

$card-heading-background: $slate;
$card-text-color: $pearl-blush;
$card-border-color: $slate;
$card-description-background: $grey-blue;
$card-button-background: $asparagus;
$card-button-hover: $brown-sugar;

// contact

$contact-form-background-color: $ebony-clay;
$contact-form-button-color: $tropical-indigo;
$contact-form-button-hover: $english-violet;

// standard button sizing

$std-btn-font-size: 1rem;
$std-btn-font-color: #fff;
$std-btn-top-bottom-margin: 1rem;
$std-btn-vert-padding: 1rem;
$social-btn-std: 3rem;

// font sizes / line height

$base-font-size: 1rem;
$font-size-small: px-to-rem(12px);
$font-size-medium: px-to-rem(14px);
$font-size-large: px-to-rem(18px);
$font-size-xlarge: 1.5rem;
$base-line-height: 1.5;

//
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// screen sizes

$xs: 280px;
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;

// max inner wrapper width

$inner-wrapper-max: 1600px;
