// media query mixin

@mixin mq($bp) {
  @if ($bp == xs) {
    @media screen and (min-width: $xs) {
      @content;
    }
  } @else if($bp == s) {
    @media screen and (min-width: $s) {
      @content;
    }
  } @else if($bp == m) {
    @media screen and (min-width: $m) {
      @content;
    }
  } @else if($bp == l) {
    @media screen and (min-width: $l) {
      @content;
    }
  } @else if($bp == xl) {
    @media screen and (min-width: $xl) {
      @content;
    }
  } @else {
    @error ('Unknown breakpoint supplied');
  }
}

@mixin std-btn($col) {
  display: inline-block;
  margin: 1rem 0;
  background-color: $col;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 1rem calc(1rem * 1.33);
  text-transform: uppercase;
  text-decoration: none;
}
