.contact {
  &__wrapper {
    @extend %flex-column;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    @include mq(m) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item,
  &__details {
    border-radius: 4px;
    color: #e0e1dd;
  }

  &__form-wrapper,
  &__details-wrapper {
    @include mq(m) {
      flex: 0 1 45%;
    }
  }

  &__form-wrapper,
  &__details {
    background-color: $contact-form-background-color;
    padding: 1rem;
    @include mq(m) {
      padding: 1.25rem;
    }
    @include mq(xl) {
      padding: 2rem;
    }
  }

  &__details-wrapper {
  }

  &__input-wrapper {
    @extend %flex-column;
  }

  &__intro-text {
    font-size: $font-size-large;
  }

  // contact form

  &__input-wrapper {
    margin-top: 1.5rem;
  }

  &__input,
  &__message {
    font-size: $font-size-large;
    border-radius: 5px;
  }

  &__input {
    height: 2.5rem;
  }

  &__input-wrapper--button {
    @extend %flex-column;
    align-items: start;
  }

  &__label {
    padding-bottom: 0.5rem;
  }

  &__button {
    @include std-btn($tropical-indigo, $std-btn-font-size);
    &:hover {
      background-color: $contact-form-button-hover;
    }
  }

  // contact details

  &__details {
    margin-top: px-to-rem(30px);
    @include mq(m) {
      margin-top: 0;
    }
  }

  &__details-items {
    @extend %flex-column;
    @include mq(m) {
      font-size: $font-size-large;
    }

    @include mq(xl) {
      font-size: $font-size-xlarge;
    }

    .fa-solid {
      padding-right: 1rem;
    }
  }

  &__details-item {
    margin-top: 1rem;
  }
}
