.contact {
  &__wrapper {
    @extend %flex-column;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    @include mq(m) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 1.5rem;
    border-radius: 4px;
    background-color: #1b263b;
    color: #e0e1dd;
  }

  &__form-wrapper,
  &__details-wrapper {
    padding: 15px;
    @include mq(m) {
      flex: 0 1 45%;
    }
  }

  &__form-wrapper {
  }

  &__details-wrapper {
  }

  &__input-wrapper {
    @extend %flex-column;
  }

  // contact form

  &__input-wrapper {
    margin-top: 1rem;
  }

  &__input {
    height: 2rem;
  }
}
