.contact {
  &__wrapper {
    @extend %flex-column;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    @include mq(m) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item,
  &__details {
    border-radius: 4px;
    color: #e0e1dd;
  }

  &__form-wrapper,
  &__details-wrapper {
    @include mq(m) {
      flex: 0 1 45%;
    }
  }

  &__form-wrapper {
    background-color: $contact-form-background-color;
    padding: 1rem;
    @include mq(m) {
      padding: 2rem;
    }
  }

  &__details-wrapper {
  }

  &__input-wrapper {
    @extend %flex-column;
  }

  // contact form

  &__input-wrapper {
    margin-top: 1.5rem;
  }

  &__input {
    height: 2.5rem;
  }

  &__input-wrapper--button {
    @extend %flex-column;
    align-items: start;
  }

  &__label {
    padding-bottom: 0.5rem;
  }

  &__button {
    @include std-btn($tropical-indigo, $std-btn-font-size);
    &:hover {
      background-color: $contact-form-button-hover;
    }
  }

  // contact details

  &__details {
    background-color: $contact-form-background-color;
  }
}
