.hero {
  background: url(../../img/hero/hero-image-bw.jpg) no-repeat center/cover;
  background-color: rgba($hero-image-blend, 1);
  background-blend-mode: multiply;
  width: 100%;
  height: calc(100vh - 3rem);
  @include mq(l) {
    height: 100vh;
  }

  &__main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    color: $hero-text-color;
  }

  &__text-wrapper {
    background-color: $hero-text-background-color;
    justify-content: center;
    text-align: center;
    border-radius: 7.5px;
    padding: 2rem 2.5rem;
    letter-spacing: -1px;
  }

  &__intro {
    font-size: 2rem;
  }

  &__title {
    font-size: 1.5rem;
  }
}
