.hero {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(107, 107, 107, 1) 50%, rgba(195, 195, 195, 1) 100%),
    url(/img/hero/hero-image-bw.jpg) no-repeat center/cover;

  background-blend-mode: multiply;
  width: 100%;
  height: calc(100vh - 3rem);
  margin-bottom: px-to-rem(30px);
  @include mq(l) {
    height: 100vh;
  }

  &__main-wrapper {
    display: flex;
    flex-direction: column;
    font-family: $hero-font;

    align-items: center;
    justify-content: center;
    height: 80%;
    color: $hero-text-color;
  }

  &__text-wrapper {
    justify-content: center;
  }

  &__intro,
  &__title {
    margin-bottom: 1rem;
    font-size: clamp(1.38rem, 0.22vw + 1.34rem, 1.5rem);
    @include mq(s) {
      font-size: clamp(1.72rem, 0.49vw + 1.63rem, 2rem);
    }
    @include mq(m) {
      font-size: clamp(2.15rem, 0.9vw + 1.99rem, 2.67rem);
    }

    @include mq(xl) {
      font-size: clamp(3.36rem, 2.4vw + 2.94rem, 4.74rem);
    }
  }
}
