.navigation {
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;

  @include mq(l) {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__logo {
    display: flex;
    order: 1;
    width: 50%;
    @include mq(m) {
      width: 40%;
    }

    @include mq(l) {
      width: 100%;
      justify-content: center;
    }
  }

  &__hamburger {
    display: flex;
    order: 2;
    justify-content: flex-end;

    width: 50%;
    @include mq(m) {
      display: none;
    }
  }

  &__links-wrapper {
    display: none;
    order: 3;
    width: 100%;

    @include mq(m) {
      display: flex;
      order: 3;
      width: 60%;
    }
    @include mq(l) {
      width: 100%;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    @include mq(m) {
      flex-direction: row;
      justify-content: space-between;
    }
    @include mq(l) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__socials {
    display: none;
    order: 4;
    @include mq(l) {
      display: flex;
      margin-top: auto;
    }
  }
}
