.navigation {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 0 1rem;

  @include mq(s) {
    flex-direction: row;
    justify-content: space-between;
  }

  @include mq(l) {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__logo {
    @include mq(l) {
      width: 100%;
    }
  }

  &__hamburger {
    display: block;
    @include mq(s) {
      display: none;
    }
  }

  &__logo-hb-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 4rem;
    @include mq(l) {
      height: auto;
    }
  }

  // hide links at smaller screen size for now
  &__links-wrapper {
    display: none;

    @include mq(s) {
      display: flex;
      width: 85%;
    }

    @include mq(m) {
      width: 60%;
    }
    @include mq(l) {
      width: 100%;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    @include mq(s) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include mq(l) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;

    &--logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      text-transform: uppercase;
      font-size: 20px;
      color: white;
      background-color: black;
      border-radius: 50%;
      padding: 15px;
    }
  }

  &__socials {
    display: none;
    @include mq(l) {
      display: flex;
      margin-top: auto;
    }
  }
}
