.projects {
  &__wrapper {
    @extend %flex-column;
    flex-wrap: wrap;

    @include mq(s) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid black;

    @include mq(s) {
      width: 49%;
    }

    @include mq(m) {
      width: 32%;
    }

    @include mq(l) {
      width: 49%;
    }

    @include mq(xl) {
      width: 32%;
    }
  }
}

.full-width-wrapper--projects {
}
