.projects {
  &__wrapper {
    @extend %flex-column;
    flex-wrap: wrap;

    @include mq(s) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.card {
  @extend %flex-column;
  margin-bottom: 2rem;
  border: 1px solid $card-heading-background;

  @include mq(s) {
    width: 49%;
  }

  @include mq(m) {
    width: 32%;
  }

  @include mq(l) {
    width: 49%;
  }

  @include mq(xl) {
    width: 32%;
  }

  // card details

  &__heading {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: $card-heading-background;
    color: $card-text-color;
    padding: 0.5rem 0;
    text-align: center;
  }

  &__image {
    width: 100%;
  }

  &__description {
    @extend %flex-column;
    font-size: $font-size-medium;
    color: $card-text-color;
    background-color: $card-heading-background;
    padding: 0.5rem 0.75rem;
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }

  &__button {
    @include std-btn($card-button-background);
    margin-top: 1rem;
    &:hover {
      background-color: $card-button-hover;
    }
  }
}
