.flex-main-wrapper {
  display: flex;
  flex-direction: column;
}

.flex-navigation-wrapper {
  @include mq(l) {
    position: fixed;
    top: 0%;
    height: 100%;
    width: px-to-rem(200px);
  }
}

.flex-content-wrapper {
  @include mq(l) {
    position: relative;
    margin-left: px-to-rem(200px);
  }
}
