// wraps navigation and content
.flex-main-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #e0e1dd;
}

// wraps page navigation
.flex-navigation-wrapper {
  @include mq(l) {
    position: fixed;
    top: 0%;
    height: 100%;
    width: px-to-rem(300px);
  }
}

// wraps all content on page
.flex-content-wrapper {
  @include mq(l) {
    position: relative;
    margin-left: px-to-rem(300px);
    border-left: 3px solid black;
  }
}

// full width wrapper
.full-width-wrapper {
  padding: px-to-rem(30px) 1rem 0;

  @include mq(m) {
    padding: px-to-rem(30px) 2rem 0;
  }
}

// constrains content to 1600px
.inner-wrapper {
  margin: 0 auto;
  // max-width: $inner-wrapper-max;
  max-width: 1600px;
}

// adds a border around content
// .inner-wrapper-content {
//   margin: 0.5rem auto 0;
//   border-radius: 4px;

//   @include mq(m) {
//     padding: 1rem;
//     width: 95%;
//   }

//   @include mq(l) {
//     padding: 1.5rem;
//     width: 95%;
//     margin: 1rem auto 0;
//   }
// }

.inner-wrapper-content {
  border-radius: 4px;
  @include mq(m) {
    margin: 0.5rem auto 0;
  }

  @include mq(l) {
    margin: 1rem auto 0;
  }
}
